
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: white;
}
.main {

  height: 150%;
  width: 100%;
 box-flex: 1;  
}

.filename{
  color: white;
  display: flex;
  justify-content: center;
  border: px solid sandybrown;
  border-radius: 4px;
  background-color: sandybrown;
}

.navbar{
  border-bottom: 1px solid sandybrown;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: sandybrown;
  font-size: 40px;

  color: white;
}

@import '~antd/dist/antd.css';