
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: white;
  color: black;
}
.nav {
  background: sandybrown;
  color: white;
  text-align: center;
  width: 200px;
  box-flex:  0;
  height: 100%;  
}

.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  box-orient: horizontal;
}
.main {
  background: aliceblue;
  height: 150%;
  width: 100%;
 box-flex: 1;  
}

.filename{
  color: white;
  display: flex;
  justify-content: center;
  border: px solid sandybrown;
  border-radius: 4px;
  background-color: sandybrown;
}

.navbar{
  border-bottom: 1px solid sandybrown;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: sandybrown;
  color: white;
}